/*BODY*/

body{
    max-width: 1200px;
    background-color: white;
    margin: 20px 20px 20px 20px;

}
/*HEADER*/
header{
    background-color: black;
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 5px 0px;


}

nav{
    background-color: #2d405a;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.nav1 {
    flex: 1;
    margin-left: 20px;
}

.nav2 {
    flex: 2;
}
.nav3 {
    flex: 1;
    margin-right: 20px;

}
header p{
    background-color: #eb5455;
    padding: 10px 10px 10px 10px;

}

.banner{
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    background-color: #fd8b00;
}

h1{
    background-color: #fed700;
    margin: 10px 10px 10px 10px; 
    padding: 10px 10px 10px 10px;
}
/*MAIN*/

section{
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
}

/* PALETA DE COLORS
font aside #f73f52
publicitat #fed700
article #1f6db1 
navegacio article #71a4c4
fons article #4e4e6a
*/

.article{
    background-color: #4e4e6a;
    display: flex;
    flex-direction: column;
    flex: 4;
    margin: 20px 0px 20px 20px;
    gap: 20px;

}

.inside-article {
    display: flex;
    flex-direction: row;
}

.article1 {
    flex: 1;
    margin: 20px 20px 0px 20px;
    padding: 20px 20px 20px 20px;
    background-color: #1f6db1;
}

.article-navigation {
    background-color: #71a4c4;
    margin: 10px 20px 20px 20px;
    padding: 0px 20px 0px 20px;
}

aside {
    background-color: #f73f52;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    
}

aside p {
    background-color: #fed700;
    margin: 10px 10px 10px 10px;
    padding: 20px 10px 20px 10px;
}

.aside {
    flex: 1;
}
/*FOOTER*/

footer{
    background-color: black;
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 10px 0px;;

}

footer p {
    background-color: #f0e78c;
    margin: 10px 10px 10px 10px;;
    padding: 10px 10px 10px 10px;
}

/*For tablets*/

@media only screen and (max-width: 992px) {

    /*BODY*/

    body{
        background-color: yellow;
    }


    section {
       display: flex;
       flex-direction: column;
    }

    .inside-article {
        display: flex;
        flex-direction: column;
    }
    
}

/*For phones*/

@media only screen and (max-width: 600px) {

    body{
        background-color: beige;
    }

    .inside-article {
        display: flex;
        flex-direction: column;
    
    }
    
}
